{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block heading %}{{ title }}{% endblock %}
{% block content %}
<div class="card" style="max-width:640px">
    <div class="card-body p-3">
        <form method="post">
            <div class="row g-2">
                <div class="col-sm-6">
                    <label class="form-label">First Name</label>
                    <input name="FirstName" class="form-control" required value="{{ customer.FirstName if customer else '' }}">
                </div>
                <div class="col-sm-6">
                    <label class="form-label">Last Name</label>
                    <input name="LastName" class="form-control" required value="{{ customer.LastName if customer else '' }}">
                </div>
                <div class="col-sm-6">
                    <label class="form-label">Phone</label>
                    <input name="Phone" class="form-control" required value="{{ customer.Phone if customer else '' }}">
                </div>
                <div class="col-sm-6">
                    <label class="form-label">Email</label>
                    <input name="Email" class="form-control" value="{{ customer.Email if customer else '' }}">
                </div>
                <div class="col-sm-8">
                    <label class="form-label">Address</label>
                    <input name="Address" class="form-control" value="{{ customer.Address if customer else '' }}">
                </div>
                <div class="col-sm-4">
                    <label class="form-label">City</label>
                    <input name="City" class="form-control" value="{{ customer.City if customer else '' }}">
                </div>
                <div class="col-12 d-flex gap-2 pt-1">
                    <button class="btn btn-primary px-3"><i class="bi bi-check-lg"></i> {{ 'Update' if customer else 'Add' }}</button>
                    <a href="/customers" class="btn btn-soft">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
